<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DDTExample.afterMethod()[pri:0, instance:scripts.DDTExample@4803b726]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DDTExample.afterMethod()[pri:0, instance:scripts.DDTExample@4803b726]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DDTExample.afterMethod()[pri:0, instance:scripts.DDTExample@4803b726]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DDTExample.afterMethod()[pri:0, instance:scripts.DDTExample@4803b726]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:06</td>   <td>-6941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DDTExample.beforeMethod()[pri:0, instance:scripts.DDTExample@4803b726]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:06</td>   <td>-6941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DDTExample.beforeMethod()[pri:0, instance:scripts.DDTExample@4803b726]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:06</td>   <td>-6941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DDTExample.beforeMethod()[pri:0, instance:scripts.DDTExample@4803b726]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:06</td>   <td>-6941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DDTExample.beforeMethod()[pri:0, instance:scripts.DDTExample@4803b726]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:07</td>   <td>-5704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DDTExample.f(java.lang.String,java.lang.String)[pri:0, instance:scripts.DDTExample@4803b726]">f</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:07</td>   <td>-5704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DDTExample.f(java.lang.String,java.lang.String)[pri:0, instance:scripts.DDTExample@4803b726]">f</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:07</td>   <td>-5704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DDTExample.f(java.lang.String,java.lang.String)[pri:0, instance:scripts.DDTExample@4803b726]">f</td> 
  <td>main@867988177</td>   <td></td> </tr>
<tr bgcolor="76738a">  <td>22/07/23 08:06:07</td>   <td>-5704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DDTExample.f(java.lang.String,java.lang.String)[pri:0, instance:scripts.DDTExample@4803b726]">f</td> 
  <td>main@867988177</td>   <td></td> </tr>
</table>
